.cell{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #EEE;
  float: left;
  border-color: black;
}
.cell.answered{
  color: blue;
}
.cell.hover{
  background-color: #999999;
}
.group{
  width: 111px;      
  float: left;
  margin-left: 0px;
}
.border{
  border-style:solid;
  border-width:1px;        
}
#sudoku_99{
  width: 339px;
}
.container{
  width: 724px;
}
