!!! 5
%html
  %head
    %title Sudoku
    %link{:href=>"css/bootstrap.css",:rel=>"stylesheet"}
    %link{:href=>"css/main.css",:rel=>"stylesheet"}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
    %script{:type=>"text/javascript", :src=>"js/main.js"}
    %script{:type=>"text/javascript", :src=>"js/bootstrap-alert.js"}
    -#TODO 3. add cell change event, 4. add process when computering 5. more beautify in dialog
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href=>"/sudoku"} Colin
    .container
      %header
        %h1 
          Answer Soduku 
          %p.lead Answer your any Soduku puzzle             
      %section#main
        #page-herder
          %h3 
            Cells 
            %small please input your puzzle
        .row.span5
          .s99.row.alert.alert-success
            %p#cell-messages 
              It is null.
          #sudoku-99.border.row
            - locals[:sudoku_size].times do |group_index|
              .row.group.border{:id=>"group_#{group_index}"} 
                - locals[:sudoku_size].times do |inner_index|
                  .cell.border{:id=>"#{helper(group_index, inner_index).join("_")}"}
        #operate.row.span3
          .alert.alert-success
            %p#messages 
              Try it now. You just need to input the puzzle in the cells, then click the Computer button.
          .button-box.well-small
            To answer out the puzzle in the cells which has at least 17 values.
            .button
              %button.btn.btn-primary#compute Computer
          .button-box.well-small
            To clear the cells.
            .button
              %button.btn#clear Clear
          .button-box.well-small
            To generate an example puzzle in the cells.
            .button
              %button.btn.btn-success#example1 Example
          -#%input#record{:type=>'button',:value=>'record'}
          .alert.alert-error
            %p
              Please input 17 values in the cells.
      %section#other
        #dialog{:style=>"display:none; float:left;"}
          %form
            .row.group.border{:id=>"group_dialog"} 
              - locals[:sudoku_size].times do |inner_index|
                .cell.border{:id=>"cell_#{helper(0, inner_index).join("")}"}= inner_index+1 
            %div
              %input#null{:type=>'button',:value=>'null'}
              %input#close{:type=>'button',:value=>'close'}
                