<div style="background-color:#d7ecf9;height:200px;width:500px;margin-left:250px;margin-top:20px;;padding-top:10px" id="send">
    <font style="font-size:15px;" color="#404040">
      <table style="width:500px;line-height:18px;padding:5px">
            <tr>
                <td align="left">尊敬的客户,你好：</td>
            </tr>
            <tr height="140px">
                <td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @msg_hash['m1'] %></td>
                <td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @msg_hash['m2'] %></td>
            </tr>
            <tr>
                <td align="right" valign="bottom">祝您工作顺利!</td>
            </tr>
        </table>
    </font>
</div>
